# **Penting**
- Jangan mengubah atau menambahkan cell text yang sudah disediakan, Anda hanya perlu mengerjakan cell code yang sudah disediakan.
- Pastikan seluruh kriteria memiliki output yang sesuai, karena jika tidak ada output dianggap tidak selesai.
- Misal, Anda menggunakan df = df.dropna() silakan gunakan df.isnull().sum() sebagai tanda sudah berhasil. Silakan sesuaikan seluruh output dengan perintah yang sudah disediakan.
- Pastikan Anda melakukan Run All sebelum mengirimkan submission untuk memastikan seluruh cell berjalan dengan baik.
- Pastikan Anda menggunakan variabel df dari awal sampai akhir dan tidak diperbolehkan mengganti nama variabel tersebut.
- Hapus simbol pagar (#) pada kode yang bertipe komentar jika Anda menerapkan kriteria tambahan
- Biarkan simbol pagar (#) jika Anda tidak menerapkan kriteria tambahan
- Pastikan Anda mengerjakan sesuai section yang sudah diberikan tanpa mengubah judul atau header yang disediakan.

# **1. Import Library**
Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [2]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

# **2. Memuat Dataset dari Hasil Clustering**
Memuat dataset hasil clustering dari file CSV ke dalam variabel DataFrame.

In [24]:
# Gunakan dataset hasil clustering yang memiliki fitur Target
# Silakan gunakan dataset data_clustering jika tidak menerapkan Interpretasi Hasil Clustering [Advanced]
# Silakan gunakan dataset data_clustering_inverse jika menerapkan Interpretasi Hasil Clustering [Advanced]
# Lengkapi kode berikut
# ___ = pd_read_csv("___.csv")

df_clustering = pd.read_csv("data_clustering_inverse.csv")

In [25]:
# Tampilkan 5 baris pertama dengan function head.
df_clustering.head()

,PreviousTransactionDate,TransactionType,Location,Channel,CustomerOccupation,TransactionDate,TransactionAmount,CustomerAge,TransactionDuration,LoginAttempts,AccountBalance,Target
0,2023-04-11 16:29:14,Debit,San Diego,ATM,Doctor,2024-11-04 8:08:08,14.09,70.000000,81.0,1.0,5112.21,1
1,2023-06-27 16:44:19,Debit,Houston,ATM,Doctor,2024-11-04 8:09:35,376.24,68.000000,141.0,1.0,13758.91,2
2,2023-07-10 18:16:08,Debit,Mesa,Online,Student,2024-11-04 8:07:04,126.29,19.000000,56.0,1.0,1122.35,3
3,2023-05-05 16:32:11,Debit,Raleigh,Online,Student,2024-11-04 8:09:06,184.50,26.000000,25.0,1.0,8569.06,3
4,2023-10-16 17:51:24,Credit,Atlanta,Online,Student,2024-11-04 8:06:39,13.45,44.678444,198.0,1.0,7429.40,1

# **3. Data Splitting**
Tahap Data Splitting bertujuan untuk memisahkan dataset menjadi dua bagian: data latih (training set) dan data uji (test set).

In [31]:
# Menggunakan train_test_split() untuk melakukan pembagian dataset.
from sklearn.model_selection import train_test_split
X = df_clustering.drop(columns=['Target','TransactionType', 'CustomerOccupation', 'Location', 'Channel','TransactionDate','PreviousTransactionDate',])
y = df_clustering['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# **4. Membangun Model Klasifikasi**
Setelah memilih algoritma klasifikasi yang sesuai, langkah selanjutnya adalah melatih model menggunakan data latih.

Berikut adalah rekomendasi tahapannya.
1. Menggunakan algoritma klasifikasi yaitu Decision Tree.
2. Latih model menggunakan data yang sudah dipisah.

In [33]:
# Buatlah model klasifikasi menggunakan Decision Tree
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)
# Evaluasi model dengan menghitung akurasi
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Akurasi model: {accuracy:.2f}")

Akurasi model: 0.99

In [ ]:
# Menyimpan Model
# import joblib
# joblib.dump(model, 'decision_tree_model.h5')

# **5. Memenuhi Kriteria Skilled dan Advanced dalam Membangun Model Klasifikasi**

**Biarkan kosong jika tidak menerapkan kriteria skilled atau advanced**

In [ ]:
# Melatih model menggunakan algoritma klasifikasi scikit-learn selain Decision Tree.

In [ ]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada seluruh algoritma yang sudah dibuat.

In [ ]:
# Menyimpan Model Selain Decision Tree
# Model ini bisa lebih dari satu
# import joblib
# joblib.dump(___, 'explore_<Nama Algoritma>_classification.h5')

Hyperparameter Tuning Model

Pilih salah satu algoritma yang ingin Anda tuning

In [ ]:
# Lakukan Hyperparameter Tuning dan Latih ulang.
# Lakukan dalam satu cell ini saja.

In [ ]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada algoritma yang sudah dituning.

In [ ]:
# Menyimpan Model hasil tuning
# import joblib
# joblib.dump(__, 'tuning_classification.h5')

End of Code